body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #e8ddeb;
}

/* El Header como cuadro contenedor */
.header-principal {
    margin: 0 auto;
    padding: 20px;
    background-color: #6284a5;
    color: #000000;
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 20px;
    text-align: left; /* Alineación a la izquierda */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* El Nav como contenedor flexible */
.nav-principal {
  display: flex;
  gap: 15px; /* Espacio entre los cuadros */
  justify-content: left; /* Alineación a la izquierda */
  flex-wrap: wrap; /* Se adaptan si la pantalla es muy pequeña */
}

/* Cada enlace convertido en cuadro */
.cuadro-nav {
  background-color: #c7db6a;
  color: #000000;
  text-decoration: none;
  padding: 15px 25px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

/* Efecto al pasar el ratón */
.cuadro-nav:hover {
  background-color: #926c1b;
  color: #ffffff;
}


.contenedor-principal {
    max-width: auto; /* Ajusta automáticamente el ancho máximo */
    margin: 0 auto;
    
    display: grid;
    /* Crea 2 columnas: el artículo ocupa el 75% y el aside el 25% */
    grid-template-columns: 3fr 1fr; 
    gap: 20px; /* Espacio de separación entre los bloques */
}

/* Artículo: da formato a la caja principal del contenido */
.articulo-principal {
    background-color: #18bbc7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.barra-lateral {
    background-color: #79539c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* El footer se estira para ocupar ambas columnas */
.pie-articulo {
    grid-column: 1 / -1; /* Ocupa desde la columna 1 hasta el final */
    background-color: #34b6d6;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Secciones: organiza cada apartado dentro del artículo */
.seccion-articulo {
    background-color: #b67719;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
}

/* Diseño adaptable para celulares */
@media (max-width: 720px) {
    .contenedor-principal {
        /* En pantallas chicas, todo pasa a una sola columna */
        grid-template-columns: 1fr;
    }
}